<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#/">{{App.Name}}</a>
          <div class="nav-collapse main-menu">
            <ul class="nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a href="#/modules">Modules</a></li>
              <li><a href="#/optimize">Optimize</a></li>
              <li><a href="#/backbone">Backbone</a></li>
              <li><a href="#/manager">Views</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="#/user/dashboard/account">My Account</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
